<% if @taxon.icon_file_name? %>
	<%= image_tag (@taxon.icon(:original), :style => "width:960px;margin-top:-20px;margin-left:-50px;") %>
<% else %>
<div id="barra01">
		<h1>  <%= @taxon.name %></h1>
</div>
<% end %>

<div id="variante-info">

<% if @taxon.children.empty? %>
  <%= render :partial => "shared/products.html.erb", :locals => {:products => @products, :taxon => @taxon } %>
  <%= will_paginate @products, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;" %> 
<% else %>
  <%= render :partial => "taxon", :collection => @taxon.children %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => "shared/taxonomies" %>
<% end %>

</div>